@charset "utf-8";
.text_1{
	background:;
	background-color:;
	position:absolute;
	height:36px;
	width:76px;
	left:0px;
	top:8px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:; 
}
