@charset "utf-8";
.text_1{
	background:;
	background-color:;
	position:absolute;
	height:68px;
	width:332px;
	left:346px;
	top:80px;
	overflow:hidden;
	font-family:Arial;
	font-size:22px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:; 
}
.text_2{
	background:;
	background-color:;
	position:absolute;
	height:64px;
	width:264px;
	left:380px;
	top:108px;
	overflow:hidden;
	font-family:Arial;
	font-size:22px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:; 
}
.CLOCK_1{
	background:rgba(255,255,255,0);
	background-color:;
	position:absolute;
	height:36px;
	width:76px;
	left:948px;
	top:0px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px  solid rgba(255,255,255,0);
}
.CLOCK_2{
	background:rgba(255,255,255,0);
	background-color:;
	position:absolute;
	height:36px;
	width:76px;
	left:948px;
	top:0px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px  solid rgba(255,255,255,0);
}
.CLOCK_3{
	background:rgba(255,255,255,0);
	background-color:;
	position:absolute;
	height:36px;
	width:76px;
	left:948px;
	top:0px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px  solid rgba(255,255,255,0);
}
.BJNV_3{
	background:#ff00ff;
	background-color:;
	position:absolute;
	height:262px;
	width:38px;
	left:512px;
	top:308px;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:inset; 
}
.JNV_3{
	background:#ffcccc;
	background-color:;
	position:absolute;
	height:;
	width:100%;
	left:;
	top:;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:; 
}
.BJNH_1{
	background:#ffcccc;
	background-color:;
	position:absolute;
	height:34px;
	width:330px;
	left:84px;
	top:356px;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:inset; 
}
.JNH_1{
	background:#ff00ff;
	background-color:;
	position:absolute;
	height:100%;
	width:;
	left:;
	top:;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:; 
}
.JNAH_4{
	background:#ffccff;
	background-color:;
	position:absolute;
	height:108px;
	width:144px;
	left:648px;
	top:372px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #ffccff;
}
.JNS_10{
	background:;
	background-color:;
	position:absolute;
	height:256px;
	width:256px;
	left:127px;
	top:275px;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:; 
	display:none;
}
.JNS_11{
	background:;
	background-color:;
	position:absolute;
	height:50px;
	width:80px;
	left:817px;
	top:378px;
	overflow:hidden;
	font-family:;
	font-size:;
	font-weight:;
	text-align:;
	line-height:;
	color:;
	font-style:;
	text-decoration:;
	border:; 
	display:none;
}
.JNL_13_0{
	background:#0099ff;
	background-color:;
	position:absolute;
	height:52px;
	width:80px;
	left:814px;
	top:284px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #3471cb;
}
.JNL_13_1{
	background:#800080;
	background-color:;
	position:absolute;
	height:52px;
	width:80px;
	left:814px;
	top:284px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #000000;
}
.JNL_12_0{
	background:#0066ff;
	background-color:;
	position:absolute;
	height:52px;
	width:80px;
	left:814px;
	top:480px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #2d5ad2;
}
.JNL_12_1{
	background:#800080;
	background-color:;
	position:absolute;
	height:52px;
	width:80px;
	left:814px;
	top:480px;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px  solid rgba(255,255,255,0);
}
.JND_1_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:440px;
	top:283px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_1_0 table{
	text-decoration:  ;
}

.JND_1_0:active,.JND_1_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:440px;
	top:283px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_1_0  table:active,.JND_1_1 table{
	text-decoration:  ;
}


.JND_2_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:554px;
	top:281px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_2_0 table{
	text-decoration:  ;
}

.JND_2_0:active,.JND_2_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:554px;
	top:281px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_2_0  table:active,.JND_2_1 table{
	text-decoration:  ;
}


.JND_3_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:668px;
	top:283px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_3_0 table{
	text-decoration:  ;
}

.JND_3_0:active,.JND_3_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:668px;
	top:283px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_3_0  table:active,.JND_3_1 table{
	text-decoration:  ;
}


.JND_4_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:444px;
	top:381px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_4_0 table{
	text-decoration:  ;
}

.JND_4_0:active,.JND_4_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:444px;
	top:381px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_4_0  table:active,.JND_4_1 table{
	text-decoration:  ;
}


.JND_5_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:558px;
	top:379px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_5_0 table{
	text-decoration:  ;
}

.JND_5_0:active,.JND_5_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:558px;
	top:379px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_5_0  table:active,.JND_5_1 table{
	text-decoration:  ;
}


.JND_6_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:672px;
	top:373px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_6_0 table{
	text-decoration:  ;
}

.JND_6_0:active,.JND_6_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:672px;
	top:373px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_6_0  table:active,.JND_6_1 table{
	text-decoration:  ;
}


.JND_7_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:444px;
	top:479px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_7_0 table{
	text-decoration:  ;
}

.JND_7_0:active,.JND_7_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:444px;
	top:479px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_7_0  table:active,.JND_7_1 table{
	text-decoration:  ;
}


.JND_8_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:562px;
	top:481px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_8_0 table{
	text-decoration:  ;
}

.JND_8_0:active,.JND_8_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:562px;
	top:481px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_8_0  table:active,.JND_8_1 table{
	text-decoration:  ;
}


.JND_9_0{
	background:rgba(255,255,255,0) url(../images/style00001-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:676px;
	top:479px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_9_0 table{
	text-decoration:  ;
}

.JND_9_0:active,.JND_9_1{
	background:rgba(255,255,255,0) url(../images/style00000-P.png) no-repeat center center;-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:0px;padding:0px;
	position:absolute;
	height:49px;
	width:73px;
	left:676px;
	top:479px;
	overflow:;
	font-family:Arial;
	font-size:11px;
	font-weight:400;
	text-align:;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:0px solid rgba(255,255,255,0);
	z-index:;
}
.JND_9_0  table:active,.JND_9_1 table{
	text-decoration:  ;
}


.SLH_2{
	position: absolute;
   	height:40px;
	width:332px;
	left:88px;
	top:488px;
	background:#c0c0c0 url(../images/4e06c20b58b8a09301f2_b-P.png) center center no-repeat;;
	background-color:;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
}
.SLH_2 span {
    display: inline-block;
    position: absolute;
    top: 50%;margin-top:-20px;
    left: 0px;
    width: 33px;
    height: 40px;
   	background:#0000ff url(../images/u=499620329,265008184&fm=21&gp=0-P.png) center center no-repeat;;
	background-color:;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
}
.SLV_5{
	position: absolute;
    height:264px;
	width:40px;
	left:872px;;
	top:304px;
	background:#c0c0c0 url(../images/u=499620329,265008184&fm=21&gp=0-P.png) center center no-repeat;;
	background-color:;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
}
.SLV_5 span {
    display: inline-block;
    position: absolute;
    left: 50%;margin-left:-20px;
    top: 0px;
    width: 40px;
    height: 26px;
   	background:#0000ff url(../images/12746822651796426-1-P.png) center center no-repeat;;
	background-color:;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
}
.div_DTEXT_1{
	position:absolute;
	left:458px;
	top:104px;
}
.DTEXT_1{
	display:table-cell;
	height:52px;
	width:108px;
	background-color:#ccffff;
	overflow:hidden;
	font-family:宋体;
	font-size:20px;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #fffbf0;
}
.div_DTEXT_2{
	position:absolute;
	left:372px;
	top:204px;
}
.DTEXT_2{
	display:table-cell;
	height:52px;
	width:280px;
	background-color:#ccffff;
	overflow:hidden;
	font-family:宋体;
	font-size:18px;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #fffbf0;
}
.div_DTEXT_3{
	position:absolute;
	left:370px;
	top:278px;
}
.DTEXT_3{
	display:table-cell;
	height:52px;
	width:280px;
	background-color:#ccffff;
	overflow:hidden;
	font-family:宋体;
	font-size:18px;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #fffbf0;
}
.div_DTEXT_4{
	position:absolute;
	left:372px;
	top:356px;
}
.DTEXT_4{
	display:table-cell;
	height:52px;
	width:280px;
	background-color:#fffbf0;
	overflow:hidden;
	font-family:宋体;
	font-size:18px;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #fffbf0;
}
.div_DTEXT_5{
	position:absolute;
	left:370px;
	top:438px;
}
.DTEXT_5{
	display:table-cell;
	height:52px;
	width:280px;
	background-color:#ccffff;
	overflow:hidden;
	font-family:宋体;
	font-size:18px;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	line-height:;
	color:#000000;
	font-style:normal;
	text-shadow:;
	text-decoration:  ;
	border:1px  solid #fffbf0;
}
